/* ! Reset */
body,
html {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: rgba(201, 193, 193, 0.186);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style-type: none;
}

img {
  height: auto;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
  padding: 10px;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.6rem;
}

a {
  text-decoration: none;
  color: black;
}

/* Container all */
.container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.general-container-quiz-select {
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/******* Stylize card ********/
/* Card */
.card {
  padding: 4%;
  margin: 8% 0;
  background-color: white;
  border-radius: 30px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.start-select {
  padding: 20px;
  min-width: 250px;
}
/* Header */
header {
  padding: 20px;
  text-align: center;
}

/*** MAIN ***/
/* Quiz container */
.container-quiz {
  padding: 5px;
}

label {
  display: block;
  margin: 5px;
}

/* Button container */
.container-button {
  padding: 10px;
}

.invia-risposte {
  border: none;
  border-radius: 5px;
  background-color: #7294b7;
  color: white;
  padding: 13px;
  font-size: 17px;
}

#invia-risposte-giuste {
  border: none;
  border-radius: 5px;
  background-color: #7294b7;
  color: white;
  padding: 13px;
  font-size: 17px;
}

.btn-activated-select{
  cursor: pointer;
  background-color: #527aa2 !important;
}

.btn-activated-select:active {
  background-color: #35618d;
}

.btn-activated{
  cursor: pointer;
  background-color: #527aa2;
}

.btn-activated:active {
  background-color: #35618d;
}

.container-button a {
  color: white;
}

/* Animazione che rimuove il quiz */
.quiz1,
.quiz2 {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* Footer */
/******* MODIFICHE AL FOOTER DELLA PAGINA ********/
.footer-page {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.333);
  text-align: center;
  padding: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: medium;
}
.footer-page a {
  color: black;
  transition: 0.5s;
}
.footer-page a:hover {
  color: #2d3582;
  transition: 0.5s;
}

/* ----------------------------------------- */
/* ! ANIMATION CODE CSS */
/* ----------------------------------------- */
@-webkit-keyframes slideInLeft {
  0% {
    visibility: hidden;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
    visibility: hidden;
    -webkit-transform: translateX(-100%);
    transform: translateX(-400%);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
