<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- contenitore principale -->
    <div class="conteiner" style="background-image: url(backgroundIla.jpg); background-size: cover;">
        <!-- contenitore del titolo -->
       <div class="conteiner_one">
        <h2 class="white_text">SCOPRI DI PIÙ SU NEED FOR SPEED™ UNBOUND VOLUME 6</h2>
       </div>
       <!-- contenitore del bottone -->
       <div class="conteiner_two">
        <div class="bordo">
            <button class="white_background">Scopri di più</button>
        </div>
       </div>

    </div>
</body>
</html>