<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="conteiner">

       <div class="conteiner_one">
        <h2>Giocatori e genitori: il controllo dei videogiochi è nelle vostre mani</h2>
       </div>

       <div class="conteiner_two">
        <div class="bordo">
            <button>Scopri di più</button>
        </div>
       </div>

    </div>
</body>
</html>